<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/layout.css">
</head>

<body>
    <div class="container">
        <div class="col-12">
            <div class="header">
                <h1>Contact</h1>
                <ul>
                    <li>
                        <a href="myproject.html">Home/</a>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>


            </div>

        </div>

        <div class="main-box-contact">
            <div class="col-6">
                <div class="text">
                    <h4>Let’s Be in Touch</h4>
                    <p>Welcome, I am happy to introduce our website ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. I am text block. Click edit button to change this text. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="quote">
                    <div class="pers-info">
                        <div class="info-item">
                            <input type="text" placeholder="First Name"></div>
                        <div class="info-item">
                            <input type="text" placeholder="Second Name"></div>
                        <div class="info-item">
                            <input type="text" placeholder="Your e-mail"></div>
                        <div class="info-item">
                            <input type="text" placeholder="Phone Number"></div>
                    </div>
                    <div class="comments"><input type="text" placeholder="Your Message"></div>
                    <button>SEND</button>
                </div>

            </div>

        </div>
    </div>

    </div>

</body>

</html>