<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/myproject.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <script src=""></script>
</head>

<body>

    <!-- First Page -->
    <div class="mainbox">
        <div class="infobox">
            <div class="container">
                <div class="infobox-up">
                    <div class="logobox"><img src="static/uploads/logo.jpg" alt="">
                        <H2>HN Construction</H2>
                    </div>
                    <div class="logositeright">

                        <div class="logosmallbox1">

                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                            <div>
                                <h3>Adress</h3><span>Gournadi, 1230 Bariasl</span></div>
                        </div>


                        <div class="logosmallbox2">
                            <div><i class="far fa-clock"></i></div>
                            <div>
                                <H3>Business Hours</H3><span>Office Hour: 09:00am - 4:00pm</span></div>


                        </div>

                        <div class="logosmallbox3">
                            <div><i class="fas fa-phone"></i></div>
                            <div>
                                <h3>Call us Today</h3><span>+994706116303</span></div>
                        </div>
                    </div>

                </div>
                <div class="infobox-down">
                    <div class="infobox-down-left">
                        <a href="">
                            <li>Home</li>
                        </a>
                        <a href="/aboutUs">
                            <li>About Us</li>
                        </a>
                        <a href="#services">
                            <li>Services</li>
                        </a>
                        <a href="#products">
                            <li>Products</li>
                        </a>
                        <a href="">
                            <li>Shop</li>
                        </a>
                        <a href="#blog">
                            <li>Blog</li>
                        </a>
                        <a href="/contact">
                            <li>Contact</li>
                        </a>
                    </div>
                    <div class="infobox-down-right ">
                        <i><i class="fas fa-search "></i></i>
                        <i><i class="fas fa-cart-arrow-down "></i></i>

                        <form action="language "><select name=" " id=" ">
                                <option value=" ">English</option>
                                <option value=" ">Russian</option>
                            </select>

                        </form>
                        <a href="#quote "><button type="button ">Request Quote</button></a>
                    </div>
                </div>



            </div>

        </div>

        <div class="text-group ">
            <div class="text-first-cover ">
                <span>Welcome to HN Construction</span>
                <h1>BEATIFULLY CRAFTED, DESIGNED TO LAST</h1>
                <H3>Set ut perscpiciatis unde omnis iste natus error sit voluptatem acusantium qoloremque laudantium</H3>
                <button class="btn ">Find More</button>
            </div>

            <div class="text-second-cover ">
                <span>Welcome to HN Construction</span>
                <h1>THE FUTURIS WINDOWS & DOORS</h1>
                <H3>Dunyanin en yeni texnalogi ile hazirlanmis davamli ve dozumlu perillalar</H3>
                <button class="btn ">Find More</button>
            </div>
        </div>




    </div>

    <!-- second page -->

    <div class="main ">
        <div class="mainbox2 ">
            <div class="text2 ">
                <h1>A Trendy Woodwork<br>For Trendy Home</h1>
                <p>Woody We are committed to providing our customers with super exceptional service while offering our employees the best training and a working environment in which they can excel best of all place for more than a half century<br><br>This
                    company focus has been in place for more than a half century. We are committed to providing our customers with exceptional service while offering our employees the best training best of all and a working environment.</p>
                <button>Find More</button>
            </div>
            <div class="imagesbox ">
                <div class="photo2 "><img src="static/uploads/per33.jpg " alt=" "></div>
                <div class="photo1 "><img src="static/uploads/per11.jpg " alt=" "></div>
                <div class="label ">Company Of The Year Award Winner</div>
            </div>
        </div>
    </div>

    <!-- Third Page -->


    <div class="main3 " id='quote'>


        <div class="quote ">
            <h1>Get A Free Quote</h1>
            <form action="/admin/emails " method="POST">
                <div class="pers-info ">
                    <div class="info-item ">
                        <input type="text " name="name " placeholder="First Name "></div>
                    <div class="info-item ">
                        <input type="text " name="surname " placeholder="Second Name "></div>
                    <div class="info-item ">
                        <input type="text " name="mail " placeholder="Your e-mail "></div>
                    <div class="info-item ">
                        <input type="text " name="number " placeholder="Phone Number "></div>
                </div>

                <div class="comments "><input type="text " name="text " placeholder="Your Message "></div>
                <button type="submit" class="btn btn-primary">Gonder</button>
                <!-- <button>Send</button> -->

            </form>
        </div>

    </div>


    <!-- 4-th Page -->

    <div id=" services ">
        <div class="container ">
            <div class="text4 "><span>Professional Services</span></div>
            <div class="test ">
                {%for srv in services%}
                <div class="servit-item ">
                    <div class="item4A ">
                        <img src="{{srv.service_img}} " alt=" ">
                        <div class="itemsc ">
                            <h5>{{srv.service_title}}</h5>
                            <p>{{srv.service_content}}</p>
                            <i class="fas fa-caret-right "></i>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>



    </div>


    <!--page 5  -->
    <div class="mainbox5 ">
        <div class="label5 ">
            <h1>Have You Seen The New Doors?</h1>
            <p>Choose the New Standard of Living by choosing an artisan door for Best Homes and open the Door of Future and enhanced your best home security has been in place for more than a half century</p>
            <div class="but5 "><button>Find More</button></div>
        </div> -->
    </div>



    <!-- product page -->
    <div id="products ">
        <div class="container ">
            <h5>Products</h5>
            <div class="test ">
                {%for p in products%}
                <div class="items6 ">
                    <a href="#https://themes.webdevia.com/windows-doors/demo-3/ ">
                        <img src="{{p.product_img}} " alt=" ">
                        <h2>{{p.product_name}}</h2>
                        <span>Read More</span>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>



    <!-- interesting facts page -->
    <div class="interestingFacts ">

        <div class="container ">
            <h4>interesting facts</h4>
            <div class="itemmms7 ">

                <div class="items7 ">
                    <i class="fas fa-trophy "></i>
                    <h1>15</h1>
                    <h3>Awwards</h3>
                </div>

                <div class="items7 ">
                    <i class="fas fa-rocket "></i>
                    <h1>1024</h1>
                    <h3>Projects</h3>
                </div>

                <div class="items7 ">
                    <i class="fas fa-users "></i>
                    <h1>2043</h1>
                    <h3>Happy Clients</h3>
                </div>

                <div class="items7 ">
                    <i class="far fa-clock "></i>
                    <h1>99</h1>
                    <h3>Up Time</h3>
                </div>

            </div>

        </div>

    </div>

    <!-- end of interesting facts page -->

    <!-- citate-comments-page -->

    <div class="containers ">
        <div class="comment-page ">
            <h1>Testimonials</h1>
        </div>

        <div class="sliders ">
            <div class="comment-page-content-first ">
                <div class="comment-img ">
                    <img src="static/uploads/dayi.jfif " alt=" ">
                </div>
                <div class="comment-text ">
                    <p>Hesenov Telman Nizam oglu.1968-ci ildən anadan olub. Ən böyük arzusu cəmiyyətə yardımçı ola biləcək işlərə imza atmaq olmuşdur. 12 ildir ki perilla işi ilə məşquldur və bu işin əsl peşəkıdır.. Gördüyu lahiyələrin bir çoxunu uğurla
                        tamamlamış və bu işin peşəkarına çevirilmişdir.
                    </p>
                    <h3>Hesenov Telman</h3>
                    <h6>Icraci Direktor</h6>
                </div>
            </div>



        </div>

        <!-- citate-comments-page-end -->

        <!-- blog page -->

        <div class="container " id='blog'>
            <div class="row-blog ">
                <div class="itemsl ">
                    <div class="item-img ">
                        <img src="static/uploads/blog1.jpg " alt=" ">
                    </div>
                    <div class="textl ">
                        <h3>How to maintaining and deep cleaning a deck</h3>
                        <h6>AUG, 28, 2016 root </h6>
                        <p>Sed odio orci, fringilla nec dolor et, euismod auctor mauris. Curabitur semper dui diam, nec accumsan mauris consequat sed. Interdum et malesuada fames ac ante</p>
                    </div>

                </div>
                <div class="itemsl ">
                    <div class="item-img ">
                        <img src="static/uploads/blog2.jpg " alt=" ">
                    </div>
                    <div class="textl ">
                        <h3>New style look for your home this season</h3>
                        <h6>MAY, 09, 2016 root </h6>
                        <p>The global economic recovery, alongside strong development in emerging markets, is shifting prior in the doors industry to sustain... </p>
                    </div>

                </div>
                <div class="itemsl ">
                    <div class="item-img ">
                        <img src="static/uploads/blog3.jpg " alt=" ">
                    </div>
                    <div class="textl ">
                        <h3>12 Biggest Benefits of Using Wood in Your Home</h3>
                        <h6>AUG, 28, 2016 root</h6>
                        <p>Sed odio orci, fringilla nec dolor et, euismod auctor mauris. Curabitur semper dui diam, nec accumsan mauris consequat sed.</p>
                    </div>

                </div>

            </div>
        </div>


        <!-- the lasted page -->

    </div>
    <div class="footer ">
        <div class="containerf ">
            <div class="row ">
                <div class="col-3 ">
                    <div class="textboxx ">
                        <h1>About Us</h1>
                        <p>Aenean ut libero vitae sapien ullamcorper semper sed quis turpis. Donec congue felis sed dignissim porttitor.<br> Sed sapien libero, gravida sit amet tortor ac, viverra elementum purus.</p>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="textboxx ">
                        <h1>Information</h1>
                        <ul>
                            <li>About</li>
                            <li>Blog</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="textboxx ">
                        <h1>Contact Info</h1>
                        <ul>
                            <li>Address: 679 Grand avenu, Central Parl, NYC, NY</li>
                            <li>Custom Support & Sale: +1-5050-607080</li>
                            <li>Working Time: Mon-Sat: 9 AM – 5 PM</li>
                            <li>Email: Contact@devia.web</li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="textboxx ">
                        <h1>Recent post</h1>
                        <p>How to maintaining and deep cleaning a deck August 28, 2016<br> New style look for your home this season May 9, 2016</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="static/JavaScript/myproject.js "></script>
</body>

</html>