{% extends 'admin/base.html' %} {% block ferqelemir %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>İstifadəçi Əlavə Et</h5>

            <form action="/admin/users" method='POST'>
                <input type="text" class="form-control my-2" name='ad' placeholder="Adınız...">
                <input type="text" class="form-control my-2" name='soyad' placeholder="Soyadınız...">
                <input type="submit" class="btn btn-primary my-2" value='Əlavə Et'>
            </form>
            <hr>
            <h5>Bütün istifadəçilər</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Əməlyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{userr.name}}</td>
                        <td>{{userr.surname}}</td>
                        <td>
                            <a href="#">Sil</a>
                            <a href="#">Dəyişdir</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}