    /* products page */
    
    .container span {
        font-size: 35px;
        font-weight: bold;
        border-bottom: 5px solid orange;
    }
    
    .items6 {
        padding: 10px;
        margin: 0px;
        align-items: flex-start;
        min-height: 400px;
        position: relative;
    }
    
    .margintop {
        margin-top: 50px
    }
    
    .items6 img {
        width: 100%;
        height: 80%;
    }
    
    .items6 h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
    }
    
    .items6 a {
        text-decoration: none;
        color: black;
    }
    
    .items6 span {
        position: absolute;
        top: 45%;
        left: 29%;
        padding: 10px;
        display: none;
        z-index: 4;
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid orange;
        background-color: orange;
        transition: all 0.3 ease;
    }
    
    .items6:hover span {
        display: block;
    }
    /* end of product page */
    /* interesting facts page*/
    
    .interestingFacts {
        height: 100%;
        background-image: URL("../img/backgroudd.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .container h4 {
        color: white;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 134px;
        left: -24px;
    }
    
    .itemmms7 {
        display: flex;
        justify-content: space-between;
        margin-top: 300px;
    }
    
    .items7 {
        margin: 10px;
        padding: 10px;
    }
    
    .items7 i {
        font-size: 60px;
        color: yellow;
    }
    
    .items7 h1 {
        font-size: 60px;
        color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .items7 h3 {
        font-size: 30px;
        color: white;
    }
    /* /* end of interesting facts page*/