.container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    text-align: center;
    width: 350px;
    height: 300px;
}

.card img {
    width: inherit;
    object-fit: cover;
    height: 250px;
}

.box {
    border: 1px solid black;
    width: 600px;
    margin: 0 auto;
}

.box img {
    width: inherit;
    object-fit: cover;
    height: 400px;
}

.box span {
    text-align: center;
}