.sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    left: -200px;
    background: rgba(183, 203, 226, 0.8);
    padding-top: 41px;
    z-index: 999;
    transition: .4s all ease;
}

.sidebar:hover {
    position: fixed;
    width: 230px;
    height: 100%;
    top: 0;
    left: 0px;
    transition: .4s all ease;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.top-text {
    color: var(--bs-color-santas-gray-100);
    font-size: 21px;
    font-weight: 700;
    padding-left: 12px;
}

.header-item a p span {
    color: var(--bs-color-shamrock);
}


/* .menu {
    padding-top: 15px;
} */

.menu-item-link {
    padding-top: 18px;
    padding-bottom: 18px;
    border-left: 3px solid transparent;
    color: var(--bs-color-santas-gray-100);
}

.menu-item-link:hover .icon,
.menu-item-link:hover {
    background-color: rgba(159, 162, 180, 0.08);
    opacity: 1;
    border-left-color: var(--bs-color-shamrock);
    color: var(--bs-color-shamrock);
    fill: var(--bs-color-shamrock);
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--bs-color-athens-gray);
    opacity: 0.06;
}