.mainbox {
    border: 1px solid black;
    background-image: URL("../uploads/cover.jpg");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.infobox {
    border-top: 1px solid black;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4)
}

.infobox-up {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logositeright {
    width: 590px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    color: white;
}

.logosmallbox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.logosmallbox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.logosmallbox3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.logositeright i {
    margin-right: 10px;
    font-size: 25px;
}

.infobox-up .logobox img {
    width: 115px;
    margin-top: 10px;
    height: 60px;
    opacity: 0.9;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%)
}

.logobox {
    margin-left: 10px;
    margin-top: 2px;
    color: white;
}

.infobox-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.infobox-down-left {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-around;
    margin-top: 10px;
}

.infobox-down-left a {
    text-decoration: none;
    list-style-type: none;
    margin-left: 30px;
    color: white;
    font-size: 18px;
}

.infobox-down-right {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    padding-top: 15px;
    margin-top: 10px;
}

.infobox-down-right i {
    font-size: 20px;
    color: white;
}

.infobox-down-right option {
    background-color: hotpink;
}

.infobox-down-right button {
    border-radius: 16px;
    background-color: burlywood;
    padding: 5px 10px;
    margin-bottom: 22px;
    font-size: 14px;
    height: 30px;
}

.text-group>div {
    width: 600px;
    color: white;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
    padding: 23px;
    transform: translate(0, 30%);
}

.text-group span {
    font-size: 1em;
    color: #dfc4bb;
    margin-left: 14px;
    text-align: center;
}

.text-group h1 {
    font-size: 2.5em;
    font-weight: bolder;
    color: rgb(236, 224, 202);
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-group h3 {
    font-size: 2.0em;
    font-weight: inherit;
    color: rgb(218, 200, 200);
}

.text-group .btn {
    margin-left: 0px;
    padding: 12px 34px;
    background-color: #ffb900;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 135px;
    margin-top: 46px;
}

.btn:hover {
    background-color: #966528;
}

.arrows-cover {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    right: 0%;
    cursor: pointer;
}

.arrow-cover {
    padding: 10px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 3px;
    font-size: 1.3em;
}

.arrow-cover:hover {
    background-color: indigo;
}

.text-second-cover {
    display: none;
}


/* second page */

.main {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
}

.mainbox2 {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.text2 {
    width: 400px;
    height: 441px;
    margin-top: 36px
}

.text2 h1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.text2 p {
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 700;
}

.text2 button {
    background-color: white;
    color: black;
    padding: 10px 1px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    transition: all 0.4s ease-out;
}

.text2 button:hover {
    background-color: #966528;
}

.imagesbox {
    width: 810px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 440px;
}

.photo1 {
    width: 400px;
    height: 460px;
    position: absolute;
    z-index: 2;
    top: 23px;
    left: 55px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.41)
}

.photo2 {
    width: 419px;
    height: 379px;
    position: absolute;
    z-index: 1;
    left: 388px;
    top: 60px;
}

.label {
    background: #966528;
    border-radius: 8px;
    box-shadow: 6px -5px 4px 0px rgba(0, 0, 0, 0.41);
    width: 100px;
    height: 80px;
    text-align: center;
    color: white;
    padding-top: 27px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 310px;
    font-weight: bold;
}

.imagesbox .photo1 img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
}

.imagesbox .photo2 img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
}


/* Third page */

.main3 {
    background-image: url("../uploads/quoto.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 900px;
    background-size: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: inline-block;
}

.pers-info {
    width: 345px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px;
    row-gap: 20px;
    column-gap: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

.quote h1 {
    font-size: 35px;
    font-weight: bolder;
    color: black;
}

.pers-info input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-left: 10px;
    border-color: gray;
}

.comments {
    margin-top: 6px;
    width: 356px;
    height: 115px;
}

.comments input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.button {
    background-color: #d4a219;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 18px;
    transition: all 0.4s ease-out;
    width: 70px;
}

.quote button:hover {
    background-color: #c5a277;
    font-size: 19px;
    width: 77px;
}


/* page 4 */

.text4 span {
    font-size: 30px;
    font-weight: bold;
}

.test {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.text4 {
    margin-left: 22px;
    margin-bottom: 10px;
}

.mainbox4 {
    width: 1200px;
    margin-top: 60px;
}

.item4A {
    border: 1px solid lightgrey;
    margin-left: 10px;
    margin-right: 6px;
    height: 350px;
    margin-top: 28px;
    overflow: hidden;
}

.item4A img {
    width: 100%;
    height: 80%;
}

.itemsc span {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin-left: 25px;
    color: grey;
}

.itemsc h5 {
    color: #bf2020;
    font-size: 38px;
    margin-bottom: 10px;
}

.itemsc i {
    position: absolute;
    right: 10%;
    top: 20%;
    font-size: 50px;
}

.itemsc {
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.4s ease;
}

.item4A:hover .itemsc {
    margin-left: 25px;
}

.item4A:hover .itemsc h5 {
    color: #ffb900;
}


/* page 5 */

.mainbox5 {
    background-image: url(../uploads/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin: 60px 0px;
    position: relative;
}

.label5 {
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 23%;
    top: 19%;
    background-color: rgba(76, 15, 104, 0.9);
    border-radius: 8px;
    box-shadow: 6px -5px 4px 0px rgb(0 0 0 / 44%);
    width: 350px;
    height: 350px;
    padding: 20px;
    text-align: center;
    color: white;
}

.label5 h1 {
    font-size: 33px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 37px;
}

.label5 p {
    font-size: 18px;
    text-align: justify;
    padding: 20px;
}

.but5 button {
    padding: 10px 50px 10px;
    margin-top: 16px;
    font-size: 15px;
}


/* products page */

.Products .container h5 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 30px;
}

.products {
    margin-top: 50px;
}

.products .container h5 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 5px solid orange;
}

.items6 {
    padding: 10px;
    margin: 0px;
    align-items: flex-start;
    min-height: 400px;
    position: relative;
}

.margintop {
    margin-top: 50px
}

.items6 img {
    width: 100%;
    height: 80%;
}

.items6 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.items6 a {
    text-decoration: none;
    color: black;
}

.items6 span {
    position: absolute;
    top: 45%;
    left: 29%;
    padding: 10px;
    display: none;
    z-index: 4;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid orange;
    background-color: orange;
    transition: all 0.3 ease;
}

.items6:hover span {
    display: block;
}


/* end of product page */


/* interesting facts page*/

.interestingFacts {
    height: 900px;
    background-image: URL("../uploads/backgroudd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.container h4 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 90px;
    left: -24px;
    text-transform: uppercase;
}

.itemmms7 {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.items7 {
    margin: 10px;
    padding: 10px;
}

.items7 i {
    font-size: 60px;
    color: yellow;
}

.items7 h1 {
    font-size: 60px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.items7 h3 {
    font-size: 30px;
    color: white;
}


/* /* end of interesting facts page*/


/* citate-comments-page */

.containers {
    margin: 0px auto;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.comment-page h1 {
    font-size: 60px;
    font-family: serif;
    margin-top: 6rem;
    font-weight: bold;
}

.comment-img {
    width: 300px;
    height: 300px;
}

.comment-text {
    padding: 25px 18px;
    font-family: 'Lato', sans-serif;
    width: 750px;
}

.comment-text p {
    font-size: 22px;
    color: gray;
    letter-spacing: 1.5px;
}

.comment-text h3 {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bold;
    color: orange;
    margin-top: 25px;
    margin-bottom: 26px;
}

.comment-text h6 {
    font-size: 22px;
    color: black
}

.comment-img img {
    width: 100%;
    height: 100%;
}

.comment-page-content-first {
    display: flex;
    flex-direction: row;
    padding: 45px 0px;
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 1200px;
}

.comment-page-content-second {
    display: flex;
    flex-direction: row;
    padding: 45px 0px;
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: 1200px;
}

.sliders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 0px;
    z-index: 1;
    transition: all 1s ease;
}

.arrows {
    position: absolute;
    z-index: 2;
    bottom: 35%;
    right: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50px;
}

.arrow {
    border: 1px solid gray;
    text-align: center;
    padding: 6px;
    background-color: beige;
    border-radius: 10px;
}


/* citate-comments-page-end  */


/* blog page */

.itemsl {
    width: 350px;
    box-sizing: border-box;
}

.textl {
    font-family: 'Lato', sans-serif;
    padding: 0px 10px;
    background-color: #e6e6e6;
    border-bottom: 4px solid orange;
}

.textl h3 {
    font-size: 20px;
    font-weight: bold;
    color: #331f00;
}

.textl h6 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textl p {
    font-size: 18px;
    margin-top: 19px;
}

.item-img {
    width: 100%;
    height: 228px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-blog {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 36px;
}


/* the lasted page */

.footer {
    font-family: 'Lato', sans-serif;
    margin-top: 48px;
    margin: 0 auto;
    background-color: #6b481c;
    width: 100%;
    border-bottom: 45px solid #3a2812
}

.textboxx {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    min-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.textboxx h1 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    ;
}

.textboxx p {
    text-align: justify;
    font-size: 14px;
    color: white;
}

.textboxx ul li {
    text-decoration: none;
    margin-bottom: 8px;
    color: white;
}