.box {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    top: 400px;
    left: 400px;
    transition: all 0.4s ease;
}

.btn-box {
    display: flex;
    gap: 5px;
    position: absolute;
    z-index: 2;
}

.btn {
    padding: 10px;
    border: 1px solid green;
    font-size: 20px;
}